.connect{
    text-align: center;
    background: linear-gradient(to right, #9900ff, #cc80ff);
}
.connect-h1{
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 30px;
}

.btn10 {
    outline: none;
    border: none;
    background-color: #9900ff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 16px;
    width: fit-content;
    height: fit-content;
    transition: 100ms;
    cursor: pointer;
}